body {
    background-color: black;
}

#menu ul li.btn{
    list-style: none;
    display: inline-block;
    text-align: left;
}

#menu ul li.btn a {
    text-decoration: none;
    padding: 5px;
    color: chocolate;
    font-size: 18px
}

#menu ul li.btn:hover a{
    color: black;
    background-color: coral;
    transition: 0.6s all;
}